@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  .printable-document,
  .printable-document * {
    visibility: visible;
  }
  .printable-document {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 20px !important;
    background: white !important;
    color: black !important;
  }
}
